@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}
.logo{
    width: 100px;;
}
 

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color: white;
    cursor: pointer;
    background: #05b6b6; 
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);

}

.btn:hover{
    background: var(--orange);
    color:#fff;   
}
.header{
    display: grid;
    grid-template-columns: 2, 1fr;
}
.header-A{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-A h1 a{
    font-size: 4rem;
}
.header-B{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background: #05b6b6; 
    box-shadow: var(--box-shadow);
}
.header .navbar a{
    font-size: 2rem;
    margin:0 1rem;
    color:var(--black);
    text-decoration: none;
}

.header .navbar a:hover{
    background-color:var(--orange);
    padding: 6px;
    border-radius: 10px;
    color: white;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color:#fff;
}
.header a{
    text-decoration: none;
    color: #fff;
    font-family: 'Pattaya', sans-serif;
}
.icons{
    display: flex;
}
.login-btn{
    color: black;
    
}

#menu-btn{
    display: none;
}
.home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:var(--black);
    font-size: 5rem;
}

.home .content h3 span{
    color:var(--orange);
}

.home .content p{
    color:var(--light-color);
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}
.banner-1 img{
    width: auto;
    height: 100%;   
}
.banner-1{
    display: flex;
    justify-content: center;
    align-items: center;
}


.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.features .box-container .box{
    padding:3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.heading {
    padding: 20px;
    background-color: #05b6b6;
    margin-bottom: 30px;
}

.features .box-container .box img{
    margin:1rem 0;
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color:var(--black);
    font-family: 'Poppins', sans-serif;
}

.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
    padding:1rem 0;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 80%;
    
  }
  .d-block w-100{
    width: 100px;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .slideshow-container
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .about {
    background-color: #414647;
  }
  .dot {
    background-color: #0e5f80;
  }

.products .product-slider{
    padding:1rem;
}

.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.products .product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.products .product-slider .box img{
    height:20rem;
}

.products .product-slider .box h3{
    font-size: 2.5rem;
    color:var(--black);
}

.products .product-slider .box .price{
    font-size: 2rem;
    color:var(--light-color);
    padding:.5rem 0;
}

.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--orange);
    padding:.5rem 0;
}

.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}

.categories .box-container .box{
    padding:3rem 2rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: var(--box-shadow);
    outline:var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.categories .box-container .box img{
    margin:1rem 0;
    height:15rem;
}

.categories .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   line-height: 1.8;
}

.categories .box-container .box p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}
.promo-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.img-box img{
    width:100%;
    height:auto;
}
.order{
    background: var(--peru);
 }
 
 .order .heading span{
    color:var(--white);
 }
 
 .order .heading h3{
    color:var(--white);
 }
 
 .order form{
    padding:2rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
 }
 
 .order form .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
 }
 
 .order form .box-container .box{
    flex:1 1 41rem;
 }
 
 .order form .box-container .box .inputBox input,
 .order form .box-container .box .inputBox textarea{
    width: 100%;
    margin:1rem 0;
    padding:1.2rem 1.4rem;
    font-size: 1.7rem;
    color:#030303;
    border:var(--border);
    text-transform: none;
 }
 
 .order form .box-container .box .inputBox input::placeholder,
 .order form .box-container .box .inputBox textarea::placeholder{
    text-transform: capitalize;
 }
 
 .order form .box-container .box .inputBox input:focus,
 .order form .box-container .box .inputBox textarea:focus{
    color:var(--white);
 }
 
 .order form .box-container .box .inputBox input:focus::placeholder,
 .order form .box-container .box .inputBox textarea:focus::placeholder{
    color:var(--light-white);
 }
 
 .order form .box-container .box .inputBox textarea{
    height: 20rem;
    resize: none;
 }
 
 .order form .box-container .box .inputBox .map{
    height: 20rem;
    width: 100%;
    margin:1rem 0;
 }
 
 .order form .box-container .box .inputBox span{
    color:var(--light-black);
    font-size: 2rem;
 }
 .order-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
 }

.footer{
    background: #fff;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
    text-align: center;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.payment img{
    width: 200px;
    
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--orange);
}
.about-container{
    margin-top: 300px;
}

.main-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.fruits-logo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.about-text p{
    text-align: center;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    margin-top: 20%;
}
.fruits-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-container img{
    position: absolute;
    width: 200px;
}
.contact-text{
    font-size: 1.5em;
}
.form-body{
	height: 100vh;
	width: 100%;
}

.form-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.form-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

 

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}


.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}





/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:900px){
    .home{
        display: flex;
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column;
    }
    .home{
        margin-top: 100px;
    }

  

}

@media (max-width:550px){
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
    .box{
        align-items: center;
    }
    .home{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .header{
        display: flex;
        flex-direction: column;
    }
    .header-B{
        display: flex;
        flex-direction: column;
    }

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }
    .main-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 200px;
    }
}
